html, body {
    margin: 0;
    padding: 0;
    /* background-color: #fff; */
    color: white;
    font-family: 'Roboto', sans-serif;
    background: #00b09b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    min-height: 100vh

}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: auto;
    border: 1px solid black;
    padding: 50px 10px;
    background-color: black;
    border-radius: 15px;
    margin-top: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}


.to-from {
    display: flex;
    max-width: 320px;
    gap: 10px;
}

.main-input {
    height: 100px;
    text-align: left;
    resize: none;
    border-radius: 5px;
    border: none;
    background-color: #00b09b55;
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    
}

input {
    text-align: center;
    min-width: 0;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: #00b09b55;
    color: white;
}

button {
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: #00b09b;
}


.endorse-wrapper {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    /* padding-top: 10px; */
    padding-left: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-weight: 100;
}

h6 {
    margin: 0;
    font-size: .90rem;
    /* margin-top: 10px;
    margin-bottom: 10px; */
    margin: 10px 0;
}

p {
    margin: 0;
    font-size: .85rem;
    margin-bottom: px
}

::placeholder {
    color: white;
    opacity: 65%;
}